.center-div {
    display: flex;
    
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.form-div {
    text-align: center;
    display: block;
}

.input-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-form input {
    display: block;
}



