.card-div {
    position: relative;

    z-index: 999;
}

.card-text {
    position: absolute;
    font-size: 1.6em;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

}

.card-text-left {
    top: 53%;
    left: 11%;
}

.card-text-right {
    top: 53%;
    right: 19%;
}

.card-brand {
    position: absolute;
    top: 6%;
    left: 6%;

    width: 27%;

}

.card-time {
    position: absolute;
    top: 10%;
    left: 50%;
}

.card-ccv {
    position: absolute;
    top: 30%;
    left: 7%;
}